.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 6rem;
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.header-nav {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  justify-content: space-around;
}

.header-nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;
  transition: border 0.6s ease;
}

.header-nav a:hover {
  border: 1px solid #000;
}
